<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="sword.langbook3.android">

    <application
        android:name=".LangbookApplication"
        android:allowBackup="true"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"/>
        <activity android:name=".AcceptationDetailsActivity"/>
        <activity android:name=".AgentDetailsActivity"/>
        <activity android:name=".CorrelationDetailsActivity"/>
        <activity android:name=".QuestionActivity"/>
        <activity android:name=".QuizEditorActivity"/>
        <activity android:name=".QuizResultActivity"/>
        <activity android:name=".QuizSelectorActivity"/>
        <activity android:name=".RuleTableActivity"/>
        <activity android:name=".SettingsActivity"/>
    </application>

</manifest>
