<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sword.langbook3.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".LangbookApplication"
        android:allowBackup="true"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainSearchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"/>
        <activity android:name=".AgentEditorActivity"/>
        <activity android:name=".AcceptationDetailsActivity"/>
        <activity android:name=".AcceptationConfirmationActivity"/>
        <activity android:name=".AgentDetailsActivity"/>
        <activity
            android:name=".CharacterPickerActivity"
            android:label="@string/characterPickerActivityTitle"/>

        <activity android:name=".CharacterCompositionEditorActivity"/>
        <activity android:name=".CharacterDetailsActivity"/>
        <activity
            android:name=".CharacterRepresentationUpdaterActivity"
            android:label="@string/representationUpdaterTitle"/>

        <activity android:name=".CorrelationDetailsActivity"/>
        <activity android:name=".QuestionActivity"/>
        <activity
            android:name=".QuizEditorActivity"
            android:label="@string/quizEditorActivityTitle"/>

        <activity android:name=".QuizResultActivity"/>
        <activity
            android:name=".QuizSelectorActivity"
            android:label="@string/quizSelectorActivityTitle"/>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/menuItemSettings"/>

        <!-- Word editor wizard -->
        <activity
            android:name=".AcceptationPickerActivity"
            android:label="@string/acceptationPickerActivityTitle"/>

        <activity
            android:name=".CorrelationPickerActivity"
            android:label="@string/correlationPickerActivityTitle"/>

        <activity android:name=".DefinitionEditorActivity"/>

        <activity
            android:name=".MatchingBunchesPickerActivity"
            android:label="@string/matchingBunchesPickerActivityTitle"/>

        <activity
            android:name=".LanguagePickerActivity"
            android:label="@string/languagePickerActivityTitle"/>

        <activity
            android:name=".LinkageMechanismSelectorActivity"
            android:label="@string/linkageMechanismSelectorActivityTitle"/>

        <activity
            android:name=".WordEditorActivity"
            android:label="@string/wordEditorActivityTitle"/>

        <activity
            android:name=".SentenceEditorActivity"
            android:label="@string/sentenceEditorActivityTitle"/>

        <activity
            android:name=".SourceAlphabetPickerActivity"
            android:label="@string/sourceAlphabetPickerActivityTitle"/>

        <activity
            android:name=".SpanEditorActivity"
            android:label="@string/spanEditorActivityTitle"/>

        <activity
            android:name=".FixedTextAcceptationPickerActivity"
            android:label="@string/acceptationPickerActivityTitle"/>

        <activity
            android:name=".SentenceDetailsActivity"
            android:label="@string/sentenceDetailsActivityTitle"/>

        <activity
            android:name=".AlphabetsActivity"/>

        <activity
            android:name=".ConversionDetailsActivity"/>

        <activity
            android:name=".ConversionEditorActivity"/>

        <activity
            android:name=".LanguageAdderActivity"
            android:label="@string/languageAdderActivityTitle"/>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/appName"/>

        <activity
            android:name=".CharacterCompositionDefinitionEditorActivity"/>
    </application>
</manifest>
