<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.CREATE_DOCUMENT"/>
            <data android:mimeType="*/*"/>
        </intent>
    </queries>

    <application
        android:name=".LangbookApplication"
        android:allowBackup="true"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/Theme.Langbook">

        <activity
            android:name=".activities.MainSearchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AboutActivity"/>
        <activity android:name=".activities.AgentEditorActivity"/>
        <activity android:name=".activities.AcceptationDetailsActivity"/>
        <activity android:name=".activities.AcceptationConfirmationActivity"/>
        <activity android:name=".activities.AgentDetailsActivity"/>
        <activity
            android:name=".activities.CharacterPickerActivity"
            android:label="@string/characterPickerActivityTitle"/>

        <activity android:name=".activities.CharacterCompositionEditorActivity"/>
        <activity android:name=".activities.CharacterDetailsActivity"/>
        <activity
            android:name=".activities.CharacterRepresentationUpdaterActivity"
            android:label="@string/representationUpdaterTitle"/>

        <activity android:name=".activities.CorrelationDetailsActivity"/>
        <activity android:name=".activities.QuestionActivity"/>
        <activity
            android:name=".activities.QuizEditorActivity"
            android:label="@string/quizEditorActivityTitle"/>

        <activity android:name=".activities.QuizResultActivity"/>
        <activity
            android:name=".activities.QuizSelectorActivity"
            android:label="@string/quizSelectorActivityTitle"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/menuItemSettings"/>

        <!-- Word editor wizard -->
        <activity
            android:name=".activities.AcceptationPickerActivity"
            android:label="@string/acceptationPickerActivityTitle"/>

        <activity
            android:name=".activities.CorrelationPickerActivity"
            android:label="@string/correlationPickerActivityTitle"/>

        <activity android:name=".activities.DefinitionEditorActivity"/>

        <activity
            android:name=".activities.MatchingBunchesPickerActivity"
            android:label="@string/matchingBunchesPickerActivityTitle"/>

        <activity
            android:name=".activities.LanguagePickerActivity"
            android:label="@string/languagePickerActivityTitle"/>

        <activity
            android:name=".activities.LinkageMechanismSelectorActivity"
            android:label="@string/linkageMechanismSelectorActivityTitle"/>

        <activity
            android:name=".activities.WordEditorActivity"
            android:label="@string/wordEditorActivityTitle"/>

        <activity
            android:name=".activities.SentenceEditorActivity"
            android:label="@string/sentenceEditorActivityTitle"/>

        <activity
            android:name=".activities.SourceAlphabetPickerActivity"
            android:label="@string/sourceAlphabetPickerActivityTitle"/>

        <activity
            android:name=".activities.SpanEditorActivity"
            android:label="@string/spanEditorActivityTitle"/>

        <activity
            android:name=".activities.FixedTextAcceptationPickerActivity"
            android:label="@string/acceptationPickerActivityTitle"/>

        <activity
            android:name=".activities.SentenceDetailsActivity"
            android:label="@string/sentenceDetailsActivityTitle"/>

        <activity
            android:name=".activities.AlphabetsActivity"/>

        <activity
            android:name=".activities.ConversionDetailsActivity"/>

        <activity
            android:name=".activities.ConversionEditorActivity"/>

        <activity
            android:name=".activities.LanguageAdderActivity"
            android:label="@string/languageAdderActivityTitle"/>

        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/appName"/>

        <activity
            android:name=".activities.CharacterCompositionDefinitionEditorActivity"/>
    </application>
</manifest>
